<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HC Gallery</title>
    <link href="css/index.css" rel="stylesheet">
</head>
<body class="animated fadeIn">
<div id="root">
    <header>
        <img src="assets/logo.png">
        <section class="header-links" v-if="!status.isLogin">
            <span class="header-signup" @click="status.doRegister=true;status.doLogin=false">注册</span>
            <span class="header-login" @click="status.doLogin=true;status.doRegister=false">登录</span>
        </section>
        <section class="header-user" v-if="status.isLogin">
            <img src="assets/上传.png" class="header-user-upload" @click="status.doUpload = true">
            <img v-bind:src="userInfo.avatarUrl || '男头像.png'">
            <span class="header-user-nickname">{{userInfo.nickname}}</span>
            <span class="header-user-dot-bottom" @click="status.doDropdown = ! status.doDropdown"></span>
        </section>
    </header>

    <section class="header-user-dropdown" v-if="status.doDropdown">
        <span @click="status.doEdit.status=true;status.doDropdown=false">编辑信息</span>
        <span @click="doLogout">退出登录</span>
    </section>

    <nav>
        <span v-bind:class="{'activate': status.isGallery}" @click="status.isGallery=true">社区画廊</span>
        <span v-bind:class="{'activate': !status.isGallery}" @click="status.isGallery=false">我的作品</span>
    </nav>

    <main class="all animated fadeIn" v-if="status.isGallery">
        <section class="gallery-ul">
            <div class="gallery-li" v-for="g in allGallery">
                <section class="gallery">
                    <img v-bind:src="g.imgUrl" class="gallery-img">
                    <div class="gallery-li-footer">
                        <div class="gallery-li-footer-logo">
                            <img src="assets/浏览.png">&nbsp;&nbsp;
                            <span>{{g.watch}}</span>
                        </div>
                        <div class="gallery-li-footer-logo">
                            <img src="assets/赞.png">&nbsp;&nbsp;
                            <span>{{g.like}}</span>
                        </div>
                    </div>
                </section>
                <div class="gallery-user">
                    <img v-bind:src="g.user.avatarUrl || '男头像.png'">&nbsp;&nbsp;&nbsp;
                    <span>{{g.user.nickname}}</span>
                </div>
            </div>
        </section>
    </main>

    <main class="mine animated fadeIn" v-if="!status.isGallery && status.isLogin">
        <section class="gallery-section" v-for="gs in myGallery">
            <span class="gallery-date">{{gs.createdAt}}</span>
            <section class="gallery-ul">
                <div class="gallery-li" v-for="g in gs.gallery">
                    <section class="gallery">
                        <img v-bind:src="g.imgUrl" class="gallery-img" @click="doBigImg(g)">
                        <div class="gallery-li-footer">
                            <div class="gallery-li-footer-logo">
                                <img src="assets/浏览.png">&nbsp;&nbsp;
                                <span>{{g.watch}}</span>
                            </div>
                            <div class="gallery-li-footer-logo">
                                <img src="assets/赞.png">&nbsp;&nbsp;
                                <span>{{g.like}}</span>
                            </div>
                        </div>
                    </section>
                    <div class="gallery-user">
                        <img v-bind:src="userInfo.avatarUrl || '男头像.png'">&nbsp;&nbsp;&nbsp;
                        <span>{{userInfo.nickname}}</span>
                    </div>
                </div>
            </section>
        </section>
        <section v-if="myGallery.length === 0" class="gallery-helper">
            <span>您还没有属于自己的画廊，快去上传吧</span>
        </section>
    </main>

    <main class="mine animated fadeIn" v-if="!status.isGallery && !status.isLogin">
        <section class="gallery-helper">
            <span>您还未登录</span>
        </section>
    </main>


    <section class="login animated fadeInDown" v-if="status.doLogin && !status.doRegister && !status.isLogin">
        <section class="content">
            <img src="assets/叉%20.png" class="content-cancel" @click="status.doLogin=false">
            <span class="content-link" @click="status.doRegister=true;status.doLogin=false">注册</span>
            <span class="content-title">登录</span>

            <section style="margin-top: 30px">
                <input placeholder="邮箱" v-model="loginForm.email">
                <input placeholder="填写密码" v-model="loginForm.password" type="password">
            </section>

            <button @click="doLogin">登录</button>
        </section>
    </section>

    <section class="register animated fadeInDown" v-if="status.doRegister && !status.doLogin && !status.isLogin">
        <section class="content">
            <img src="assets/叉%20.png" class="content-cancel" @click="status.doRegister=false">
            <span class="content-link" @click="status.doLogin=true;status.doRegister=false">登录</span>
            <span class="content-title">注册</span>

            <section style="margin-top: 15px">
                <input placeholder="邮箱" type="email" v-model="signupForm.email" required>
                <input placeholder="昵称" v-model="signupForm.nickname" required>
                <input placeholder="密码" type="password" v-model="signupForm.password" required>
                <input placeholder="确认密码" type="password" v-model="signupForm.repassword" required>
            </section>

            <button @click="doSignup">注册</button>
        </section>
    </section>

    <section class="edit animated fadeInDown" v-if="status.doEdit.status">
        <section class="content">
            <img src="assets/叉%20.png" class="content-cancel" @click="status.doEdit.status=false">
            <input type="file" style="display: none" accept="image/jpg,image/jpeg,image/gif,image/png" id="uploadAvatar" @change="changeAvatar" multiple="multiple">
            <img v-bind:src="userInfo.avatarUrl || '编辑信息男头像.png'" class="content-avatar" @click="uploadAvatar" id="avatar">
            <section class="content-nickname">
                <span v-if="!status.doEdit.editNickname">{{userInfo.nickname}}</span>
                <input v-bind:placeholder="'修改：' + userInfo.nickname" v-model="editForm.nickname" v-if="status.doEdit.editNickname">
                <img src="assets/编辑.png" @click="status.doEdit.editNickname = !status.doEdit.editNickname">
            </section>
            <section class="content-email">
                <span v-if="!status.doEdit.editEmail">{{userInfo.email}}</span>
                <input v-bind:placeholder="'修改：' + userInfo.email" v-model="editForm.email" v-if="status.doEdit.editEmail">
                <img src="assets/编辑.png" @click="status.doEdit.editEmail = !status.doEdit.editEmail">
            </section>
            <button @click="doUpdateUserInfo">确认更新</button>
        </section>
    </section>

    <section class="upload animated fadeInDown" v-if="status.doUpload">
        <section class="content">
            <img src="assets/叉%20.png" class="content-cancel" @click="status.doUpload = false">
            <span class="content-title">上传作品</span>
            <span class="upload-desc">添加作品（文件格式限jpg，jpeg和png，大小不得超过1M）</span>
            <section class="upload-form">
                <div class="upload-img-box" v-for="u in uploadForm" @click="removeUploadGallery(u)" style="pointer-events: none">
                    <img v-bind:src="u.src">
                </div>
                <div class="upload-img-box uploader" @click="uploadGallery" v-if="uploadForm.length < 8">
                    <img src="assets/添加.png" class="upload-img">
                    <input type="file" multiple="multiple" style="display: none" id="uploadGallery" accept="image/jpg,image/jpeg,image/gif,image/png" @change="changeGallery">
                </div>
            </section>
            <button @click="doUploadGallery">确认上传至画廊</button>
        </section>
    </section>

    <section class="bigImg animated fadeIn" v-bind:style="bigImg.style" v-if="bigImg.status">

    </section>

    <section class="cover" v-if="bigImg.status" @click="bigImg.status=false">

    </section>

</div>

<script src="index.ts"></script>
</body>
</html>